.sideber
  .sideber__name
    %ul
      %li.sideber__name_user
        = current_user.name
      %a{class: "sideber__name_icon", href:"users/edit"}= fa_icon("cog")
      %a{class: "sideber__name_icon", href:"groups/new"}= fa_icon("pencil-square-o")
  .sideber__tittle
    %ul
      - current_user.groups.each do |group|
        = link_to group_messages_path(group) do
          %li.sideber__tittle_group
            = group.name
          %li.sideber__tittle_anser
            = group.show_last_message
